@font-face {
    font-family: Frank;
    src: url(font/FrankRuhlLibre-Regular.ttf);
  }
  
  body {
    background-color: #E0E0E0;
    background-color: #ffffff;
    direction: rtl;
    touch-action: manipulation;
    overflow: hidden;
    user-select: none;
  }
  button {
    font-family: Frank, sans-serif;
    cursor: pointer;
  }
  #keyboard {
    background-color: #6DA8FF;
    position: fixed;
    width: 100%;
    height: 50vh;
    height: 66.3vh;
    bottom: 0;
    left: 0;
    border-radius: 6.6vh 6.6vh 0 0;
    transition: height 300ms ease-in-out 0s;
  }
  #keybg{
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    /* z-index: -1; */
    background-color: red;
    display: none;
  }
  #innerKeyboard {
    width: 90%;
    width: 90.92vw;
    height: 92.8%;
    margin-left: 5%;
    margin-right: 5%;
    margin-left: 4.54vw;
    margin-right: 4.54vw;
    margin-top: 16px;
    display: flex;
    /* gap: 1vw; */
    /* z-index: 1;
    position: relative; */
    flex-direction: column;
    justify-content: space-between;
  }
  #textField {
    background-color: #ffffff;
    height: 8vmin;
    height: 8vh;
    padding: 1vmin;
    padding: 1.2vh;
    width: 90.92vw;
    margin-right: -1vh;
    margin-left: -1vh;
    border-radius: 999px;
    /* box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25); */
  }
  #buttonWrapper {
    display: flex;
    /* gap: 2vmin; */
    /* gap: 4.54vw; */
    height: 7vh;
    justify-content: space-between;
    transition: height 300ms ease-in-out 0s, opacity 300ms ease-in-out 0s;
  }
  #buttonWrapper button {
    flex-grow: 1;
    border-radius: 999px;
    background-color: #FCF4D6;
    color: #000000;
    outline: none;
    border: none;
    /* box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25); */
    transition: all 100ms ease-in-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    margin-left: 4.54vw;
  }
  #buttonWrapper button:last-of-type{
    margin-left: 0;
  }
  #buttonWrapper .muteBtn{
    flex-grow: 0 !important;
    width: 7vh !important;
    height: 7vh;
    padding: 0 !important;
    background-color: #FCF4D6;
    transition: height 300ms ease-in-out 0s, opacity 300ms ease-in-out 0s;
  }
  .hiddenButtons #buttonWrapper, .hiddenButtons .muteBtn{
    height: 0 !important;
    opacity: 0;
  }
  .hiddenButtons{
    height: 59.3vh !important;
  }
  .engKeyboard #buttonWrapper button:last-of-type{
    margin-left: 4.54vw;
  }
  .engKeyboard #buttonWrapper button:first-of-type{
    margin-left: 0;
  }
  .muteBtn i{
    transform: scale(-1,1);
  }
  .engKeyboard .muteBtn{
    transform: scale(-1,1);
  }
  .material-icons{
    font-size: 3em !important;
  }
  .plusBefore::before, .plusAfter::after{
    content: "+";
    font-weight: bold;
    margin-top: -4px;
  }
  #buttonWrapper .redBtn{
    color: #DA1E28;
  }
  #buttonWrapper .greenBtn{
    color: #198038;
  }
  #innerKeyboard.disabled{
    pointer-events: none;
    opacity: 0.3;
  }
  .flexDiv {
    display: flex;
    justify-content: space-between;
  }
  .keyButton, .keepLang, #textField button, #biggerButtons button {
    padding: 4vmin;
    padding: 3.6vh;
    background-color: #CCE2FF;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 5vmin;
    color: #001D6C;
    /* box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25); */
    transition: transform 100ms ease-in-out 0s, opacity 100ms linear 0s, box-shadow 200ms cubic-bezier(.47,-0.77,.6,1.8), background-color 200ms linear;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  #textField .keepLang, #textField button {
    margin-left: 2.25vw;
    margin-top: 0.8vw;
    background-color: #3087FF;
    color: #ffffff;
    font-size: 0px;
  }
  #textField .keepLang:last-of-type {
    animation: addKey 100ms ease-out;
  }
  #textField button:empty{
    color: transparent;
  }
  .fieldSelected{
    background-color: #FDDC69 !important;
  }
  .keyButton::after, .keepLang::after, #biggerButtons button::after {
    content: attr(keyValue);
    position: absolute;
    font-size: 5vmin;
    transform: translate(50%, -50%);
  }
  .engButton::after, #biggerButtons .engButton::after{
    transform: translate(-50%, -50%);
  }
  .hideMe {
    visibility: hidden;
  }
  button:active,
  .button:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  #innerWords{
    margin-top: 10vmin;
    margin-top: 11.5vw;
    height: 31vw;
    overflow-y: auto;
    transition: height 300ms ease-in-out 0s;
  }
  .showMoreWords{
    height: 40vw !important;
  }
  #innerWords button {
    border: none;
    outline: none;
    font-size: 5vmin;
    padding: 1vmin 3vmin;
    margin: 2.27vmin;
    /* margin-top: 4.3vmin; */
    border-radius: 999px;
    background-color: #CCE2FF;
    color: #001D6C;
    /* box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25); */
    transition: box-shadow 200ms cubic-bezier(.47,-0.77,.6,1.8), background-color 200ms linear;
  }
  #innerWords button:last-of-type{
    margin-bottom: 3.2vmin;
  }
  #innerWords .selectButton, #textField .selectButton{
    background-color: #F1C21B;
    color: #001D6C;
    box-shadow: 0 0 0 8px white, 0 0 0 10px #3087FF;
  }
  #innerWords .lastWord{
    box-shadow: 0 0 0 8px white, 0 0 0 10px #3087FF;
  }
  #innerWords button:empty::after{
    content: '0';
    color: transparent;
  }
  .innerApprove{
    animation: approveAnim 300ms ease-in;
  }
  .innerCancel{
    animation: cancelAnim 300ms ease-in;
  }
  @keyframes approveAnim{
    0%{transform: translateY(0);opacity:1;}
    60%{transform: translateY(-200%);opacity:0;}
    61%{transform: translateY(50%);opacity:0;}
    100%{transform: translateY(0);opacity:1;}
  }
  @keyframes cancelAnim{
    0%{transform: translateY(0);opacity:1;}
    60%{transform: translateY(100%);opacity:0;}
    61%{transform: translateY(-50%);opacity:0;}
    100%{transform: translateY(0);opacity:1;}
  }
  .statusBar{
    position: fixed;
    width: 100vw;
    height: 11.5vw;
    height: 6.8vh;
    top: 0;
    left: 0;
    background-color: #3087FF;
    border-radius: 0 0 3.5vh 3.5vh;
  }
  .statusBar button{
    margin: 1vmin;
    margin: 1vh;
    background-color: #6DA7FF;
    border: 0;
    outline: 0;
    color: #6DA7FF;
    border-radius: 50%;
    height: 5vh;
    width: 5vh;
    text-align: center;
    /* box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25); */
  }
  .reloadBtn, .muteBtn, .menuBtn, .showBtn, .redBtn, .greenBtn, .plusBefore, .plusAfter, #moveForBtn, #moveBackBtn{
    color: transparent !important;
    background-size: 45% 45% !important;
    background-position: center;
    background-repeat: no-repeat;
  }
  .reloadBtn, .menuBtn, .showBtn{
    background-size: 65% 65% !important;
  }
  .reloadBtn{
    background-image: url(icons/reload.svg);
  }
  .muteBtn{
    background-image: url(icons/sound.svg);
  }
  .menuBtn{
    background-image: url(icons/status.svg);
  }
  .showBtn{
    background-image: url(icons/eng.svg);
  }
  .redBtn{
    background-image: url(icons/x.svg);
    background-size: auto;
  }
  .greenBtn{
    background-image: url(icons/v.svg);
    background-size: auto;
  }
  .plusBefore, .plusAfter{
    background-image: url(icons/plus.svg);
    width: 2em;
    background-size: auto;
  }
  #moveForBtn, #moveBackBtn{
    background-image: url(icons/arrow.svg);
    width: 2em;
    background-size: auto;
  }
  #moveBackBtn{
    transform: scaleX(-1);
  }
  .statusBar .showBtn{
    direction: rtl;
  }
  .statusBar .showBtn::after{
    content: attr(keyValue);
    position: absolute;
    /* color: #ffffff; */
    font-size: 3vmin;
    transform: translate(65%, -30%);
  }
  #biggerButtons{
    position: absolute;
    display: grid;
    bottom: 25%;
    gap: 16px;
    left: 50%;
    grid-template-columns: 1fr 1fr;
    background-color: gray;
    padding: 16px;
    border-radius: 56px;
    transform: scale(1.5) translateX(-34%);
    transform-origin: top center;
    z-index: 10;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  #biggerButtons:empty{
    display: none;
  }
  #biggerButtons button{
    font-size: 0;
  }
  .noGap button{
    margin: 0 !important;
    margin-left: 0 !important;
  }
  .circleBtn{
    flex-grow: 0 !important;
    width: 7vh !important;
    height: 7vh !important;
    padding: 0 !important;
  }
  .noTransitions{
    transition: all 0s linear 0s !important;
  }
  .noKeyboard{
    height: 0 !important;
  }
  .showAll{
    height: calc(100vh - 11.5vw) !important;
  }
  @keyframes keyPress {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes addKey {
    0% {
      transform: translateX(20%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @media (orientation: landscape) {
    .statusBar, #innerWords, #keyboard{
      display: none;
    }
    body{
      margin-top:25%;
      text-align: center;
      background-color: black;
    }
    body::after{
      content: 'Rotate your device please';
      font-size: 10vmin;
      font-family: Frank, sans-serif;
      color: white;
    }
  }
  