body{
    background-color: lightgray;
}
.flexDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}
.panelDiv{
    background-color: white;
    color: #333333;
    font-family: sans-serif;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}